{#**
 * Copyright since 2007 PrestaShop SA and Contributors
 * PrestaShop is an International Registered Trademark & Property of PrestaShop SA
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License version 3.0
 * that is bundled with this package in the file LICENSE.md.
 * It is also available through the world-wide-web at this URL:
 * https://opensource.org/licenses/AFL-3.0
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@prestashop.com so we can send you a copy immediately.
 *
 * @author    PrestaShop SA and Contributors <contact@prestashop.com>
 * @copyright Since 2007 PrestaShop SA and Contributors
 * @license   https://opensource.org/licenses/AFL-3.0 Academic Free License version 3.0
 *#}

{% set severity = record.severity %}
{% set withMessage = column.options.with_message %}

{% if severity == 1 %}
  {% set severityClass = 'success' %}
  {% set severityMessage = withMessage ? 'Informative only'|trans({}, 'Admin.Advparameters.Help') : '' %}
{% elseif severity == 2 %}
  {% set severityClass = 'warning' %}
  {% set severityMessage = withMessage ? 'Warning'|trans({}, 'Admin.Advparameters.Help') : '' %}
{% elseif severity == 3 %}
  {% set severityClass = 'danger' %}
  {% set severityMessage = withMessage ? 'Error'|trans({}, 'Admin.Advparameters.Help') : '' %}
{% elseif severity == 4 %}
  {% set severityClass = 'dark' %}
  {% set severityMessage = withMessage ? 'Major issue (crash)!'|trans({}, 'Admin.Advparameters.Help') : '' %}
{% else %}
  {% set severityClass = '' %}
{% endif %}

<span class="badge badge-pill badge-{{ severityClass }}">
  {% if withMessage %}
    {{ severityMessage }} ({{ severity }})
  {% else %}
    {{ severity }}
  {% endif %}
</span>
